
/* Applique un fond clair à la page */
body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

/* Style pour le titre principal */
h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-top: 50px;
    background-color: yellow;
}
